* {
  font-family: "Anta", sans-serif;
  margin: 0;
}

body {
  background-color: rgb(6, 17, 34);
  overflow: hidden;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12rem;
  text-align: center;
  margin-top: -4rem;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 40;
}

h2 {
  color: rgb(245, 147, 48);
  font-size: 3.7rem;
  margin-top: -0.5rem;
  text-align: center;
}

p.intro {
  font-family: "Pixelify Sans", sans-serif;
  color: rgb(211, 209, 218);
  font-size: 1.5rem;
  text-align: center;
  padding-inline: 4rem;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.lista a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(233, 215, 234);
  background-color: rgb(46, 66, 139);
  text-decoration: none;
  margin-block: 1.5rem;
  padding-inline: 4rem;
  padding-block: 0.4rem;
  border-radius: 18px;
  border: 3px solid rgb(216, 155, 13);
}

.lista a:hover {
  font-family: "Pixelify Sans", sans-serif;
  background-color: rgb(236, 74, 177);
  color: rgb(255, 255, 255);
  border: 4px solid rgb(245, 147, 48);
  transition: 0.3s;
  transform: scale(1.4) rotate(2deg);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p.footer {
  color: rgb(211, 209, 218);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}
